.compare {
    max-width: 100%;
}

.compare .factor {
    width: 120px;
    font-weight: bold;
    vertical-align: top;
}

.socbutton {
    width: 120px;
    border: 1px solid #bbb;
    margin-right: 5px;
    margin-bottom: 5px;
}

p.social-buttons>a:hover {
    text-decoration: none;
}

body {
    padding-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-body {
    display: none;
}

.panel-heading {
    cursor: pointer;
}

.ico {
    float: left;
    margin-right: 5px;
    max-width: 16px;
    padding: 0;
    margin-top: 2px;
}

.intro-icons {
    color: white;
    margin-right: 10px;
}

.indent {
    padding-left: 30px;
    text-indent: -14px;
    margin-bottom: 5px;
}

.indent2 {
    padding-left: 55px;
    text-indent: -75px;
}

.blogposts td {
    cursor: pointer;
}

.entry-date {
    vertical-align: middle !important;
    width: 130px;
    font-style: italic;
    text-align: left;
}

.entry-link {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: -5px;
    max-width: 150px;
}

.entry-link>a {
    padding-top: 10px;
    margin-left: 5px;
    text-align: right;
    /* font-variant-caps: all-small-caps; */
    margin-top: 5px;
    min-width: 65px;
    max-width: 65px;
    font-size: smaller;
}


.entry-link>a[href*=youtube\.com], .entry-link>a[href*=github\.com] {
    min-width: 30px;
}

/* PDF */

.entry-link>a[href$=pdf]:hover {
    color: red;
    border-color: red;
}

.entry-link>a[href$=pdf]::after {
    content: 'PDF';
}

.entry-link>a[href$=pdf]::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1c1";
    background-image: none;
}

/* GitHub */

.entry-link>a[href*=github\.com]:hover {
    color: black;
    border-color: black;
}

.entry-link>a[href*=github\.com]::after {
    content: '';
}

.entry-link>a[href*=github\.com]::before {
    font-family: "Font Awesome 5 Brands";
    content: '\f09b'
}

/* YouTube */

.entry-link>a[href*=youtube\.com]:hover {
    border-color: red;
    color: red;
}

.entry-link>a[href*=youtube\.com]::after {
    content: '';
}

.entry-link>a[href*=youtube\.com]::before {
    font-family: "Font Awesome 5 Brands";
    content: '\f167';
    background-image: none;
    vertical-align: inherit;
}

/* Other */

.entry-link>a {
    border: 1px dotted black;
    border-color: #18bc9c;
    color: #18bc9c;
    border-radius: 5px;
    padding: 0 5px;
    text-decoration: none !important;
    vertical-align: middle;
    text-align: center;
}

.entry-link>a:hover {
    border-color: #006ec9;
    color: #006ec9;
}

.entry-link>a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0ac";
    background-image: none;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.entry-link>a::after {
    content: 'WEB';
}

.entry-links {
    width: 20%;
}

.entry-links>div {
    width: 100%;
}

span.publication-type {
    width: 105px;
    display: inline-block;
}
.publication-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box {
    display: flex;
    justify-content: space-between;
}
.entry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: 5px; */
}
.tweet-icon {
    float: right;
    line-height: 20px !important;
    text-decoration: none !important;
}

.addendum {
    font-size: smaller;
    font-style: italic;
}

@media screen and (max-width: 540px) {
    .namess {
        margin-top: 30px !important;
        margin-bottom: 50px !important;
    }
    .publication-buttons,.tweet-icon {
        display: none !important;
    }

}

@media screen and (max-width:991px){
    .entry-link {
        width: 70px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 455px) {
    .namess {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #avatar {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    span.publication-type {
        display: contents;
    }
    span.publication-type::after {
        content: ': ';
    }
}
