---
title: Blog - Wietze
permalink: blog/index.html
---

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Wietze">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    {% if site.favicon_location %}
    <link rel="icon" type="image/x-icon" href="{{ site.favicon_location }}">{% endif %}
    <link href="{{ '/css/fa.min.css' | relative_url }}" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="@Wietze - Blog" href="{{ '/blog/feed.xml' | relative_url }}">
    <link rel="author" href="https://twitter.com/wietze">
</head>

<body>
    <div class="wrapper">
        <div class="container content">
            <h1>Blog posts <a href="/blog/feed.xml"><i class="fas fa-rss" style="font-size: smaller;color: darkorange"></i></a></h1>
            <table class="overview-table">
                <tbody>
                    {% for post in site.posts %}
                    <tr style="cursor: pointer;" onclick="document.location='{{ post.url }}';">
                        <td style="width: 120px; font-style: italic">{{ post.date | date: "%Y-%m-%d" }}</td>
                        <td>{{ post.title | markdownify | strip_html | smartify }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
